/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:wght@700&family=Inter:wght@500&family=Poppins:wght@500&family=Raleway:wght@500;700&family=Roboto+Slab&family=Spline+Sans:wght@500&display=swap');

/* common styles */
body{
    font-family: 'Inter', sans-serif;
    margin: 0 auto;
}

/* nav styles */
nav{
    display: flex;
    justify-content: space-between;
    margin: 20px 42px 0px 40px;
    align-items: center;
}

.brand-name{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 25px;
    font-weight: 700;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #3A3A3A;
    margin-right: 20px;
    font-size: 1.5em;
    font-weight: 700;
    
}
/* header style */
header, main{
    font-family: 'Poppins', sans-serif;
}
.your-journey{
    display: flex;
    color: #3A3A3A;
    font-weight: 700;
    margin-top: 70px;
    

}
.journey{
    padding: 40px;
}
.journey, .header-img{
    width: 50%;
    margin-right: 30px;
    margin-left: 50px;
}
.journey h1{
    font-size: 40px;
}

.header-button{
    background-color: #e67e22;
    background-color: #e67e22;
    padding: 10px;
    color: #fff;
    width: 182px;
    font-size: 15px;
    border-radius: 20px;
    margin-top: 25px;
}
.header-button .fa-arrow-right{
    margin-left: 5px;
}
.header-img{
    overflow: hidden;
    margin-bottom: 50px;
}
.header-img:hover .photo{
    transform: scale(1.2);
    transition: transform 2s;
}
/* collections style */
.container{
    padding: 100px;
}

 .collection-title{
    text-align: center;
    color: #3A3A3A;
    font-size: 28px;
    margin-bottom: 50px;
}
.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    
}
.collections-item{
    background-color: #FFFFFF;
    box-shadow: 0px 0px 40px ;
    border-radius: 5px;
    width: 329px;
    

}
.collections-item .items-img{
    text-align: center;
    padding-top: 15px;
}
.collections-item .items-info{
    padding-left: 18px;
}
.collections-item .items-info .price{
    font-size: 25px;
    color: #3A3A3A;
    margin-top: -14px;
    
}
.ratings{
    color: #FB8200;
    margin-top: -14px;
   
}
.ratings span{
    margin-left: 20px;
}
.items-discriptios{
    color: #787885;
    font-size: 13px;
    margin-bottom: 20px;
}

.collection-button{
    background-color: #fff;
    padding: 10px;
    width: 182px;
    font-size: 20px;
    border-radius: 20px;
    margin-top: 25px;
    color:  #e67e22;
    float: right;
    margin-top: 30px;
    margin-right: 20px;
}
/* contact styles */
.contact-us{
    text-align: center;
}
.contact input{
    margin-bottom: 20px;
    width: 50%;
    padding: 10px;
}
.contact-button{
    background-color: #e67e22;
    background-color: #e67e22;
    padding: 10px;
    color: #fff;
    width: 182px;
    font-size: 15px;
    border-radius: 20px;
    margin-top: 25px;
}


/* footer styles */
footer{
    background-color: #0A0826;   
}
.footer-description{
    text-align: center;
    padding: 40px;
    color: white;
}
.footer-description p{
    font-size: 14px;
}
.icons i{
    font-size: 20px;
    margin-right:20px;
    border-radius: 10px;
    background-color: blue;
    width: 21px;
    border-radius: 19px;
    padding: 6px;
}

/* responsive for mobile */

@media only screen and (max-width: 768px) {
    nav{
        text-align: center;
        display: inherit;
       
    }
    nav ul{
       display: none;
    }
    nav .brand-name{
        color: #FB8200;
        font-size: 35px;
    }
    /* header */
    
    .your-journey{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-row-gap: 30px;
      padding: 0;
      margin: 0;
    }
    .journey{
        flex-direction: column;
        text-align: center;
        width: 70%;
    }
    .header-img{
        width: 70%;   
        text-align: center;
    }
    .photo{
        width: 90%;
    }
    /* collection style */
    .container{
        padding: 0%;
        margin: 0%;
    }
  
     .collection-title{
        text-align: center;
        color: #FB8200;
    }
    .collections{
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
        flex-direction: column;
        justify-items: center;
        
    }
     
       
    }  
    footer{
        margin-top:150px
    } 
}

/* responsive for tab */
@media only screen and (min-width: 768px)  and (max-width:992px){ 
    nav{
        text-align: center;
        display: inherit;
       
    }
    nav ul{
       display: none;
    }
    nav .brand-name{
        color: #FB8200;
        font-size: 35px;
    }
   
    /* header */
    
    .your-journey{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 30px;
        padding: 0;
        margin: 0;
      }
      .journey{
          flex-direction: column;
          text-align: center;
          width: 70%;
      }
      .header-img{
          width: 70%;   
          text-align: center;
      }
      .photo{
          width: 90%;
      }
      .collections{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        
    }
    footer{
        margin-top:150px
    }
}
/* responsive for desktop */
@media only screen and (min-width: 992px)  and (max-width:1326px){ 
    .collections{
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        justify-items: center;
        justify-content: center;
        
    }
}
